In [ ]:
# Question & Answer set for Today session ( 21st May,2022 ):-

In [1]:
'''

Question & Answer set for Today session ( 21st May,2022 ):-


l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
1 . Try to reverse a list 
2. try to access 234 out of this list 
3 . try to access 456 
4 . Try to extract only a list collection form list l 
5 . Try to extract "sudh"
6 . Try to list all the key in dict element avaible in list 
7 . Try to extract all the value element form dict available in list

'''

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [2]:
l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [3]:
# Q.1)  Try to reverse a list.

l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [4]:
# Q.2) try to access 234 out of this list.

l

[3,
 4,
 5,
 6,
 7,
 [23, 456, 67, 8, 78, 78],
 [345, 56, 87, 8, 98, 9],
 (234, 6657, 6),
 {'key1': 'sudh', 234: [23, 45, 656]}]

In [5]:
l[7][0]

234

In [6]:
# Q.3) try to access 456.

l[5][1]

456

In [8]:
# Q.4) Try to extract only a list collection form list l.

l6 = l[5]
l7 = l[6]

l8 =[l6,l7]

In [9]:
l8

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

In [10]:
# Q.5) Try to extract "sudh".

l[8]["key1"]

'sudh'

In [11]:
l2 = l[8]
l2["key1"]

'sudh'

In [12]:
# Q.6) Try to list all the key in dict element avaible in list.

l[8].keys()

dict_keys(['key1', 234])

In [13]:
l3= l[8]
l3.keys()

dict_keys(['key1', 234])

In [15]:
# Q.7) Try to extract all the value element form dict available in list.

l[8].values()

dict_values(['sudh', [23, 45, 656]])

In [16]:
l4= l[8]
l4.values()

dict_values(['sudh', [23, 45, 656]])