In [3]:

"""
------------------------------------------------------------------
       Task-5 :- Question & Answer Sets ( 5th june, 2022):-
-------------------------------------------------------------------
  
   q1. Try to print a prime number in between 1 to 1000.
   q2. try to write a function which is equivalent to print function in python.
   q3. try to write a function which is a replica  of list append, extend and pop function.
   q4. try to write a lambda function which can return a concatination of all string you pass.
   q5. try to write a lambda function which can return list of square of all the data between 1 to 100.
   q6. try to write a 10 different example of lambda function with a choice of your tasks.
   q7. try to write a function which can perform a read operation from .txt file.
   

-------------------------------------------------------------------
-------------------------------------------------------------------

   submit task before 11th june,2022 to :-
   shivan@ineuron.ai
   shushanshu@ineuron.ai

"""
a=10

In [9]:
# Q.1) Try to print a prime number in between 1 to 1000.

# Ans.1) 

for num in range(1,1001):
   if num > 1:
       for i in range(2,num):
           if (num % i) == 0:
               break
       else:
           print(num, end =" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997

In [10]:
# Q.2) try to write a function which is equivalent to print function in python.

# Ans.2) 

def P_test() :
    return "I am Ambarish Singh"

In [11]:
P_test()

'I am Ambarish Singh'

In [18]:
# Q.3) try to write a function which is a replica  of list append, extend and pop function.

# Ans.3)

def l_append(*a):
    l=[]
    for i in a :
        i = i+a
        return l

In [19]:
l_append(1,2,3,4)

[]

In [27]:
# Q.4) try to write a lambda function which can return a concatination of all string you pass.

# Ans.4)

a = lambda *s :s + s

In [30]:
a("ambar")

('ambar', 'ambar')

In [31]:
# Q.5) try to write a lambda function which can return list of square of all the data between 1 to 100.

# Ans.5)

sqrt = lambda range :[i*i for i in range(1,100)]

In [36]:
sqrt(range)

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [90]:
# Q.6) try to write a 10 different example of lambda function with a choice of your tasks.

# Ans.6)

ex_1 = lambda a,b : a + b

ex_2 = lambda a,b : a * b

ex_3 = lambda *a : [i*i for i in a]

ex_4 = lambda *a : [i**2 for i in a]

ex_5 = lambda *a : [i**3 for i in a]

ex_6 = lambda range :[i**2 for i in range(1,10)]

ex_7 = lambda range :[i**3 for i in range(1,10)]

ex_8 = lambda *s : s + s

ex_9 = lambda a, b : a /b

ex_10 = lambda a,b : a% b

In [54]:
ex_1(2,3)

5

In [55]:
ex_2(2,3)

6

In [60]:
ex_3(1,2,3)

[1, 4, 9]

In [63]:
ex_4(1,2,3)

[1, 4, 9]

In [67]:
ex_5(1,2,3)

[1, 8, 27]

In [79]:
ex_6(range)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [78]:
ex_7(range)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [83]:
ex_8("ambar")

('ambar', 'ambar')

In [89]:
ex_9(7,3)

2.3333333333333335

In [93]:
ex_10(5,2)

1

In [ ]:
# Q.7) try to write a function which can perform a read operation from .txt file.

# Ans.7)