# SOLUTION OF TASK_1 (31ST JULY 2022)

    By :- Ambarish Singh


#Task 1 - Fitbit Dataset

1. Read this dataset in pandas , mysql and mongodb 
2. while creating a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql 
3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
4 . Find out in this data that how many unique id's we have 
5 . which id is one of the active id that you have in whole dataset 
6 . how many of them have not logged there activity find out in terms of number of ids 
7 . Find out who is the laziest person id that we have in dataset 
8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 
9. how many person are not a regular person with respect to activity try to find out those 
10 . who is the thired most active person in this dataset find out those in pandas and in sql both . 
11 . who is the 5th most laziest person avilable in dataset find it out 
12 . what is a totla acumulative calories burn for a person find out 

Submit your git link for the same 
 
you have to submit this task by next Friday 5th 11PM IST  to respective mail id 
sudhanshu@ineuron.ai , sunny.savita@ineuron.ai

# 1. Read this dataset in pandas , mysql and mongodb

In [17]:
# Read Data in Pandas.

import pandas as pd
df = pd.read_csv('fitbit_data.csv')
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,03/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,03/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,03/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,03/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,03/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [24]:

df1_json = df.to_json('fitbit_data.json')

In [26]:

#read data from mongodb

import pymongo as pymongo
client = pymongo.MongoClient("mongodb+srv://Ambarish_224:mongodb224@ambarish.usag9.mongodb.net/?retryWrites=true&w=majority")
db1 = client['fitbit_track']
coll = db1['fitbit_data']
x = coll.find()
for data in x:
    print(data)

# 2. While creting a table in mysql dont use manual approach to create it ,always use a automation to create a table in mysql

In [27]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\lenovo\anaconda3\lib\site-packages (2.1.1)

In [28]:

# Read Data in MySql.
from sqlalchemy import create_engine as ce

 # Connect to MySQL
engine = ce("mysql://root:mysql@localhost:3306/ineuron_fitbit") 

# Load the imported CSV into your database
df.to_sql('fitbit_table', engine)

# 3. Convert all the dates available in dataset to timestamp format in pandas and in sql you to convert it in date format

In [3]:
df.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

In [4]:
df['ActivityDate'] = pd.to_datetime(df['ActivityDate'])
df.dtypes

Id                                   int64
ActivityDate                datetime64[ns]
TotalSteps                           int64
TotalDistance                      float64
TrackerDistance                    float64
LoggedActivitiesDistance           float64
VeryActiveDistance                 float64
ModeratelyActiveDistance           float64
LightActiveDistance                float64
SedentaryActiveDistance            float64
VeryActiveMinutes                    int64
FairlyActiveMinutes                  int64
LightlyActiveMinutes                 int64
SedentaryMinutes                     int64
Calories                             int64
dtype: object

# 4 . Find out in this data that how many unique id's we have

In [7]:
len(df['Id'].unique()) #There are 35 unique id's

35

# 5 . which id is one of the active id that you have in whole dataset.

In [8]:
df.groupby('Id')['VeryActiveMinutes'].sum().idxmax()

8053475328

# 6 .How many of them have not logged there activity find out in terms of number of ids

In [35]:
 df.groupby('Id')['LoggedActivitiesDistance'].sum()<1

Id
1503960366     True
1624580081     True
1644430081     True
1844505072     True
1927972279     True
2022484408     True
2026352035     True
2320127002     True
2347167796     True
2873212765     True
2891001357    False
3372868164     True
3977333714     True
4020332650     True
4057192912     True
4319703577     True
4388161847     True
4445114986     True
4558609924     True
4702921684     True
5553957443     True
5577150313     True
6117666160     True
6290855005     True
6391747486    False
6775888955     True
6962181067    False
7007744171    False
7086361926     True
8053475328     True
8253242879     True
8378563200    False
8583815059     True
8792009665     True
8877689391     True
Name: LoggedActivitiesDistance, dtype: bool

In [36]:
df.groupby('Id')['LoggedActivitiesDistance'].sum().apply(lambda x:x<1).value_counts()

True     30
False     5
Name: LoggedActivitiesDistance, dtype: int64

# 7 . Find out who is the laziest person id that we have in dataset

In [37]:
df.groupby('Id')['VeryActiveMinutes'].sum().idxmin()

1927972279

# 8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset (2200 calories/day)

In [38]:
df.groupby('Id')['Calories'].sum().apply(lambda x:x>2200*7).value_counts()

True     34
False     1
Name: Calories, dtype: int64

# 9. how many person are not a regular person with respect to activity try to find out those

In [41]:
df[df['TotalSteps']== 0]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
51,1844505072,04/04/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,669,1347
52,1844505072,04/05/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1347
59,1844505072,04/12/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,426,399
96,2320127002,04/01/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1324
97,2320127002,04/02/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,8253242879,04/02/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
403,8253242879,04/03/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
404,8253242879,04/04/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
405,8253242879,04/05/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1429
412,8253242879,04/12/2016,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0

# 10 . Who is the third most active person in this dataset find out those in pandas and in sql both

In [43]:
df.groupby('Id')['VeryActiveMinutes'].sum().sort_values(ascending=False)[2:3]

Id
8877689391    802
Name: VeryActiveMinutes, dtype: int64

In [ ]:
#using sql query

select id, sum(VeryActiveMinutes) from fitbit_table group by Id ORDER BY sum(VeryActiveMinutes) DESC LIMIT 1 OFFSET 2;

# 11 . who is the 5th most laziest person avilable in dataset find it out

In [46]:
df.groupby('Id')['SedentaryMinutes'].sum().sort_values()[4:5]

Id
6962181067    8488
Name: SedentaryMinutes, dtype: int64

# 12 . what is a total cummulative calories burn for a person find out

In [47]:
df.groupby('Id')['Calories'].sum()

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64

# THANK YOU